@model CategoryVM;
@{
    ViewData["Title"] = "List - Category";
    var i = 0;
}
<div class="mt-3" style="display:flex;justify-content:space-between">
    <h4>List Categories</h4>
    <a asp-action="" asp-Controller="Category" class="btn btn-primary" class="mt-3">Create</a>
</div>
<hr/>

<table class="table table-hover">
  <thead>
    <tr>
        <th>Name</th>
        <th>Order</th>
    </tr>
  </thead>  
  <tbody>
            @foreach (var category in Model.categories)
            {
                 <tr class="table-active">
                <td>@category.Name</td>
                <td>@i++</td>
            </tr>
        }
    </tbody>
</table>
