@model Cart;
@{
    ViewData["Title"] = "Details - Product";
}
<div class="mt-5">
    <h2>Details</h2>
</div>
<hr />
<form asp-area="Customer" asp-controller="Customer" asp-action="Details" asp-route-id="@Model.ProductId" asp-antiforgery="true" >
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row" style="margin-top:5%">
        <div class="col-md-4">
            <img  src="~/Images/@Model.Product.ImgUrl" class="img-fluid img-thumbnail" style="width:100%; height:100%"/>
            <input class="d-none" asp-for="ProductId" />
        </div>
        <div class="col-md-8"  style="line-height:2.5rem">
                <label asp-for="Product.Name" class="form-label" style="font-weight:bold"> Name : @Model.Product.Name</label><br/>
                <label asp-for="Product.Description" class="form-label"  style="font-weight:bold"> Description : @Model.Product.Description</label><br />
                <label asp-for="Product.Price" class="form-label"  style="font-weight:bold"> Price : @Model.Product.Price.ToString("0.00")</label><br/>
            <div class="form-group d-flex align-content-center"> 
                <label asp-for="Count" class="form-label"  style="font-weight:bold"></label>&nbsp;&nbsp;
                <input asp-for="Count" class="form-control w-25"  style="font-weight:bold" />
                <span asp-validation-for="Count"></span>
            </div>
            <div class="form-group mt-5">
                <a class="btn btn-danger" asp-area="Customer" asp-controller="Customer" asp-action="Index">Back</a>
                <input type="submit" value="Add to Cart" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}