@model ProductVM;
@{
    ViewData["Title"] = ((Model.product.Id == 0) ? "Ceate" : "Update") + "Product";
}
<br />
<section>
    <div>
        <h3 class="text-primary">@((Model.product.Id == 0  ) ? "Create" : "Update") Product </h3>
    </div>
    <hr />
</section>

<form method="post" asp-area="Admin" asp-controller="Product" asp-action="CreateUpdate" asp-route-Id="@Model.product.Id" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group mt-2"style="display:none">
        <label asp-for="product.Id" class="form-lable form-style"></label>
        <input  asp-for="product.Id" class="form-control" />
        <span asp-validation-for="product.Id" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="product.Name" class="form-label form-style"></label>
        <input asp-for="product.Name" class="form-control" id="name" />
        <span asp-validation-for="product.Name"  class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="product.Description" class="form-label form-style"></label>
        <textarea asp-for="product.Description" class="form-control" cols="3" rows="3" id="des" > </textarea>
        <span asp-validation-for="product.Description"  class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="product.Price" class="form-label form-style"></label>
        <input asp-for="product.Price" class="form-control" id="price" />
        <span asp-validation-for="product.Price"  class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="product.ImgUrl" class="form-label form-style"></label>
        <input asp-for="product.ImgUrl" type="file" class="form-control" id="img" />
        <span asp-validation-for="product.ImgUrl" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="product.CategoryId" class="form-label form-style">Category</label>
        <select asp-for="product.CategoryId" asp-items="@Model.Categories" class="form-control" id="category">
            <option disabled selected>--Selected Category--</option>
        </select>
        <span asp-validation-for="product.CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        @if (Model.product.Id == 0)

        {
            <input type="submit" value="Create" onclick="return ValidEmpty()" class="btn btn-primary" id="sub" />
        }

        else

        {
            <input type="submit" value="Update" class="btn btn-primary " id="sub" />
        }
        <a asp-area="Admin" asp-action="Index" asp-controller="Product" class="btn btn-danger">Cancel</a>
    </div>
</form>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script>
      tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ]
    });
</script>
}
<script>
     /// Validation For Image
 function ValidEmpty(){
            debugger;
            var val=document.getElementById("img").value;
            if(val=="" || val==null || val==undefined){
                Swal.fire({
                              icon: 'error',
                              title: 'Oops...',
                              text: 'Image Not Upload!',
                })
                   return false;
            }
      return true;
        }
       
     // alert toastr
        $(document).ready(function(){
            debugger;
            
                    $("#sub").click(function(){
                        var $name=$("#name").val(),
                   $price=$("#price").val(),
                   $des=$("#des").val(),
                   $category=$("#category option:selected").val();
                        debugger;
                        if(($name==""||$name==undefined||$name==null)&&
                           
                            ($price==""||$price==undefined||$price==null||$price=="0")&&
                            ($des==""||$des==undefined||$des==null)&&
                            ($category==""||$category==null||$category==undefined||$category=="--Selected Category--"))
                            {
                               
                                toastr.error("Not Complete");
                            }else{
                                toastr.success("Done");
                            }
                   });

        
        });
</script>